/* Black */
@font-face {
    font-family: "PoppinsBlack";
    src: url("../../assets/Fonts/Poppins-Black.ttf") format("truetype"),
}


/* Bold */
@font-face {
    font-family: "PoppinsBold";
    src: url("../../assets/Fonts/Poppins-Bold.ttf") format("truetype"),
}
/* Medium */
@font-face {
    font-family: "PoppinsMedium";
    src: url("../../assets/Fonts/Poppins-Medium.ttf") format("truetype"),
}

/* Regular */
@font-face {
    font-family: "Poppins";
    src: url("../../assets/Fonts/Poppins-Regular.ttf") format("truetype"),
}


