.cards {
  border: 0.0625rem solid #c5c5cb;
  padding: 1rem;
  margin: 2rem 4rem;
  border-radius: 1.875rem;
  &__patient {
    &-name {
      font-size: 1rem;
      font-family: "PoppinsMedium";
      font-weight: 600;
    }
    &-infotop {
      display: flex;
      justify-content: space-between;
    }
    &-date {
      color: #4b515e;
      font-size: 10px;
    }
    &-infobottom {
      border-top: 1px solid #c5c5cb;
      margin: 1rem -1rem;
      padding: 0rem 1rem;
    }
    &-registration {
      font-size: 10px;
      color: #4b515e;
      margin-top: 0.5rem;
    }
    &-visits {
      font-size: 0.8rem;
      font-family: "PoppinsMedium";
      font-weight: 600;
      margin-top: 1rem;
    }
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    &-record {
      color: #2142ba;
      background-color: #d4deff;
      border: 1px solid #2142ba;
      padding: 1rem;
      font-size: 10px;
      font-weight: 600;
      border-radius: 100px;
      margin-left: 1rem;
    }
    &-view {
      color: #2142ba;
      font-size: 10px;
      font-weight: 600;
      background-color: white;
      border: none;
      padding-bottom: none;
      margin-left: 1rem;
    }
  }
}
